@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

nav {
    color: white;
    margin: 5px;
    height: 80px;
}

.nav {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav:hover {
    color: #92deb7;
}

header {
    margin-top: 25px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.65; 
}

body { 
    background-image: url('images/headerimage.jpeg');
    margin: 0px;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

html{height:100%,width:100%}

p {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.65;
    width: 50%;
}

@media screen and (max-device-width: 480px){
    p {
        width: 80%
    }
}
